---
import '@/styles/global.css'

import MainLayout from '@/layouts/MainLayout.astro'
import { actions } from 'astro:actions'
import ProductList from '@/components/products/ProductList'

export const prerender = false

const { data, error } = await Astro.callAction(
  actions.getProductsByPageRowQuery,
  {}
)

if (error) {
  return Astro.redirect('/')
}

const { products } = data
---

<MainLayout>
  <h1 class='text-3xl py-8'>List of Products</h1>
  <ProductList client:load products={products} />
</MainLayout>
