---
import '@/styles/global.css'
// import { getSession } from 'auth-astro/server'
import MainLayout from '@/layouts/MainLayout.astro'
import { actions } from 'astro:actions'

export const prerender = false

// const session = await getSession(Astro.request)

// const { user } = session ?? {}

const { data: products, error } = await Astro.callAction(
  actions.getProductsByPageRowQuery,
  {}
)

if (error) {
  return Astro.redirect('/')
}
---

<MainLayout>
  <h1 class='text-3xl'>Home Page</h1>
</MainLayout>
